@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* #f5f5f5 */
  --foreground: #171717; /* #1a1a1a */
  --background-scroll: #e0e0e0;
  --scrollbar-track: #d6d6d6;
  --scrollbar-thumb: #aaa;
  --scrollbar-thumb-hover: #888;
  --card: #f2f2f2;
  --badge: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* #000 */
    --foreground: #ededed;
    --background-scroll: #1e1e1e;
    --scrollbar-track: #121212;
    --scrollbar-thumb: #333;
    --scrollbar-thumb-hover: #555;
    --card: #222;
    --badge: #303030;
  }
}

@layer base {
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-inter), sans-serif;
    cursor: url("/images/cursor.svg"), auto;
  }

  a,
  button {
    cursor: url("/images/pointer.svg"), pointer;
  }
}

html {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;  
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: var(--background-scroll);
  scroll-behavior: smooth;
}

html::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

html::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:active {
  background-color: var(--scrollbar-thumb-hover);
}
